[submodule ".react-apps"]
	path = .react-apps
	url = https://github.com/mars-96/react-apps.git
[submodule "react-apps"]
	path = react-apps
	url = https://github.com/mars-96/react-apps.git
[submodule "todoapp"]
	path = todoapp
	url = https://github.com/mars-96/todoapp.git
